[target.x86_64-pc-windows-msvc]
linker = "zig.exe"
rustflags = [
  "-C", "target-feature=+crt-static",  # 必须！静态链接 C 运行时，避免加载 DLL
  "-C", "target-cpu=native",           # 针对本地 CPU 优化指令
  "-C", "link-arg=-target",
  "-C", "link-arg=x86_64-windows-msvc",
  "-C", "link-arg=/DEBUG:NONE",        # 彻底移除调试数据生成
  "-C", "link-arg=/OPT:REF,ICF",       # 启用链接器优化（移除无用符号）
]

[env]
"CC_x86_64_pc_windows_msvc" = "zig.exe cc -target x86_64-windows-msvc"
"CXX_x86_64_pc_windows_msvc" = "zig.exe c++ -target x86_64-windows-msvc"
"LINK_x86_64_pc_windows_msvc" = "zig.exe cc -target x86_64-windows-msvc"
"AR_x86_64_pc_windows_msvc" = "zig.exe ar"